

<div class="well margin-bottom--100 xs--margin-bottom--40">
  <div class="row">
    {% for button in buttons %}
    <div class="col-md-4 col-sm-6 margin-bottom--10">
      <a href="{{ button.getUrl }}" class="button button-cta">
        <span class="cta-text">{{ button.getValue.title }}</span>
        <span class="cta-icon"></span>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
