
{% if items %}
  <div class="services-landing--update striped">
    <div class="services-landing--update_inner">
      {% for item in items %}
      <ul>
        <li>{{ item.date|date("d.m.Y") }}</li>
        <li><strong>{{ item.title }} - </strong>{{ item.description }}</li>
        <li><a class="read-more" href="{{ item.url }}">Read more</a></li>
      </ul>
      {% endfor %}
    </div>
  </div>
{% endif %}
